@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #09090b;
  color: #fafafa;
}
